
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
}


td, th {
    border: 1px solid #dddddd;
    padding: 8px;
}


th {
    background-color: #f2f2f2;
}


td:first-child {
    font-weight: bold;
}


tr:nth-child(even) {
    background-color: #f9f9f9;
}


tr:first-child {
    background-color: #4c93af;
    color: white;
}

tr:last-child {
    background-color: #4c93af;
    color: white;
}

tr:first-child td {
    font-weight: bold;
}

